.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 1rem;
  background-color: var(--grey-4);
  color: var(--grey-2);
}

.footer__container h4,
.footer__container strong {
  color: var(--grey-2);
}

.footer__container .heart {
  color: var(--color-primary);
}

.footer__container strong {
  font-weight: 800;
}
